extends layout

block scripts
	link(rel='stylesheet', href='/stylesheets/hover-popup.css')
	script(src='/javascripts/equilibrioClient.js')

block content
	h1= title

	table
		tr
			td(style="padding-right: 100px;")
				p(id="statusBar")
				audio(id="tokenSound", style="{visibility: hidden; position:fixed;}")
					source(src="/sounds/token.ogg")
					source(src="/sounds/token.mp3")
				canvas(id="gameCanvas", width="400", height="400")
			td(style="display: block;")
				div(style="width:400px;")
					h3 About the game
					p
						span The name Equilibrio and the Equilibrio board art © 2013 are licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License by 
						a(href="http://sites.google.com/site/crazyettin/", target="_blanck") CrazyEttin
						
					p
						a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/")

							img(alt="Creative Commons License", style="border-width:0", src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png")
						br
						| This work is licensed under a 
						a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/", target="_blanck") Creative Commons Attribution-ShareAlike 3.0 Unported License
			