div(id="menuBar", class="menu-bar")
	div
		span You are know as
		span(id="nameContainer")
	div
		input(id="changeNameInput", type="text", maxlength="15")
		button(id="changeNameButton", onClick="onChangeName();")
			| Set your name