extends layout

block scripts
	script(src='/javascripts/GameClients/clientUtils.js')
	script(src='/javascripts/GameClients/PongClient/pongClient.js')

block content
	h1= title
	div(id="score")
	canvas(id="pong", width="650", height="400")